@inherits LayoutComponentBase

<PageTitle>ROHForum</PageTitle>

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4" style="background-color:white; border:none;">
            <AddNewPost />
        </div>



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

 



}
