@inherits LayoutComponentBase

<PageTitle>ROHForum</PageTitle>

<div class="page ">
    

    <main>
        <div class="top-row px-4" style="background-color:white; border:none;">
            <CustomNavMenu />
            <AddNewPost />
        </div>



        <article class="content px-4 ">
            @Body
        </article>
    </main>
</div>

@code{

 



}
