@page "/"

<PageTitle>ROH Forum</PageTitle>


<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <button class="nav-link activeTab" aria-current="page" href="#">Top</button>
        </li>
        <li class="nav-item">
            <button class="nav-link inactiveTab" href="#">New</button>
        </li>
        <li class="nav-item">
            <button class="nav-link inactiveTab" href="#">Your</button>
        </li>
        
    </ul>

</div>
