@page "/"
@inject NavigationManager _navManager


<PageTitle>ROH Forum</PageTitle>

<div>
    <div>
        <h1>Homepage</h1>
    </div>
   @*  <div>
        <div>Font Size: @doubleFont</div>
        <div style="font-size:@doubleFont" @onclick="(()=>DoubleFontSize(doubleNum))">
            Homepage
        </div>

    </div>
    <div style="background-color: yellow; width:50px; height: 50px;" @onclick="AddLetter">
        @foreach(var i in Letters)
        {
            <p>@i</p>
        }
    </div> *@
</div>

@code{
    public string doubleFont = "12px";
    public int doubleNum;
    public int totalNum;
    public string doubleLetter;
    public List<string> Letters = new();

    

    protected override void OnInitialized()
    {
        doubleNum = 12;
    }

    public void DoubleFontSize(int num)
    {
        totalNum += num * 2;
        doubleFont = $"{totalNum}px";

    }

    public void AddLetter()
    {
        Letters.Add("H");
    }

}

